body {
    background-image: url("https://raw.githubusercontent.com/BittuSinha/imad-2016-app/master/ui/swirl_pattern.png");
}

h6 {
    
    font-size: 50px;
    font-family: Verdana;
    color: blue;
}

img {
    text-align: center;
}
