body {
    background-image: url("https://raw.githubusercontent.com/BittuSinha/imad-2016-app/master/ui/swirl_pattern.png");
}

h6 {
    
    font-size: 50px;
    font-family: Verdana;
    color: blue;
}

#socialicons {
    position: fixed;
    top: 10px;
    left: 60%;
}

ul {
    list-style-type: square;
    position: fixed;
}

li {
    display: inline;
}